@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.fullContainer {
  font-family: "Apple Chancery";
}

.searchBox {
  display: none;
}

// most copy pasted except width
// full navbar
.navContainer {
  //width: 1440px;
  height: 72px;
  background: #FFFFFA;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

// only the inner content from D to search bar area. Width get from rectangle selection
.wrapper {
  max-width: 1200px;
  //border: 1px solid red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Used this to move left item most left of container, and rest stuff to most right */
  height: 72px;
}

.navLogo {
  /* Unsure why width, height set for these automatically */
  //width: 67px;
  //height: 96px;
  font-family: cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  color: #021718;
}

.navUnorderedList {
  display: flex;
  align-items: center;
}

.navListItems {
  list-style: none;
  margin-right: 100px;
}

.navListItemsLinks {
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #021718;
  text-decoration: none;
}

// mainContentContainer area
.mainContentContainer {
  background-color: #F5A05C;
  background-image: url("images/bg-shape.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: calc(100vh - 72px);
  position: absolute;
  z-index: -10;
  width: 100vw;
}

.authorContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
  margin-left: 230px;
  margin-right: 200px;
}

.authorHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #021718;
  margin-bottom: 24px;
}

.authorPara {
  width: 418px;
  height: 84px; // Need width here
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  color: #021718;
  margin-bottom: 14px;
}

.authorContact {
  width: 196px;
  height: 60px;
  background: #01847F;
  border-radius: 8px;

  font-family: "Didot";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFA;
  border: none;
  transition: 300ms;
}

// To make button go up effect
.authorContact:hover {
  transform: translateY(-8px);
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center; // to center the Instagram button inplace
}

.socialIcon {
  margin-left: 20px;
  margin-right: 20px;
}

.heroImageParent {
  position: relative;
  transition: 300ms;
}
.heroImageParent:hover {
  transform: rotate(-6deg);
}

.heroImage {
  //position: absolute;
}

.heroImageBg {
  position: absolute;
  z-index: -12; // works because set background's z-index
  width: 500px;
  height: 500px;
  top: 47px;
  left: 21px;
  background: #44A1A0;
  transform: rotate(-5.47deg);
}
